.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}
.input::placeholder {
  color: black;
  @apply text-sm font-semibold;
}

.body {
  color: rgb(7, 21, 43);
}

.small-margin-top {
  margin-top: 2px;
}

.w-94 {
  width: 23.3rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
